{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
<br>
<h3> Geç Kalan Çalışan Bilgisi</h3>
<hr>
{% if employees %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">İsim</th>
      <th scope="col">Soyisim</th>
      <th scope="col">Email</th>
      <th scope="col">Yıllık İzin</th>
      <th scope="col">Kalan İzin</th>
    </tr>
  </thead>
  <tbody>
        {% for work_info in work_infos %}
        <tr>
            <td>{{ work_info.started_work }}</td>
            <td>{{ work_info.lateness }}</td>
        </tr>
  {% endfor %}
  </tbody>
</table>
  {% else %}
<div class="alert alert-danger">Henüz Çalışanınız Bulunmuyor..</div>
{% endif %}
</div>
{% endblock %}

