{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
<br>
<h3>İzin Talepleri</h3>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Personel</th>
      <th scope="col">Başlangıç Tarihi</th>
      <th scope="col">Bitiş Tarihi</th>
      <th scope="col">Nedeni</th>
      <th scope="col">Durum</th>
      <th scope="col">İşlemler</th>
    </tr>
  </thead>
  <tbody>
  {% for request in leave_requests %}
        <tr>
            <td>{{ request.employee.username }}</td>
            <td>{{ request.start_date }}</td>
            <td>{{ request.end_date }}</td>
            <td>{{ request.reason }}</td>
            <td>
                {% if request.is_approved == True %}
                Onaylandı
                {% elif request.is_approved == False %}
                Reddedildi
                {% else %}
                Beklemede
                {% endif %}
            </td>
            <td>
                {% if request.is_approved == None %}
                <a href="{% url 'approve_leave' request.id %}" class="btn btn-success">Onayla</a> |
                <a href="{% url 'reject_leave' request.id %}" class="btn btn-danger">Reddet</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
  </tbody>
</table>
    <a href="{% url 'manager_dashboard' %}">Yönetici Paneline Dön</a>

</div>


{% endblock %}
